/****************************************************/
/*            Cats' Paradise - breeds.css           */
/*              Autor: Jose Sotos Perez             */
/****************************************************/

/***************  GENERAL STYLE  ***************/

* {
        box-sizing:border-box;
}

body { 
        font-family: texto;
        font-size: 1em;
        background-size: contain;
        background-image: url("../images/background.jpg");
}

#wrapper {
        width:70%;
        min-height:100vh;
        border:10px solid #FEE8BE;
        background-color: #C3D7DE;
        margin:auto;
        padding:2%;
}       

h1, h2, h3 {
        font-family:titulos;
        color: #F49CC4;
}

h1 {
        text-decoration:underline;
}

p {
        text-align:justify;
        font-size: 1.2rem;
}

.lista {
        font-size: 1.2rem;
}

#cats {
        margin: 0px 20px 20px 0px;
        width:20%;
        float:left;
        border:10px solid #F49CC4;
}

.limpiafloat {
        clear:both;
}

/*************** FONTS ***************/

@font-face {
        font-family: titulos;
        src: url("../fonts/Spring_Cats.ttf");
}

@font-face {
        font-family: texto;
        src: url("../fonts/malandrino_bold.ttf");
}

/*************** MEDIA QUERIES ***************/

@media only screen and (width<=1200px) {
#cats {
        width:100%;
    }   
}

@media only screen and (width<=600px) {
#wrapper {
        width:100%;
    } 

#cats {
        width:100%;
    }
}